[Unit]
Description=EPMD Server
After=network.target
Requires=eclus.socket

[Service]
Type=simple
User=eclus
Group=eclus
WorkingDirectory=/run/eclus
DeviceAllow=/dev/null rw
PrivateTmp=true
NoNewPrivileges=true
Restart=always
LimitNPROC=1
LimitFSIZE=0
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/eclus

[Install]
WantedBy=multi-user.target
Alias=epmd.service
Also=eclus.socket
